<!doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
	<meta charset="UTF-8"/>
	<link href="{% static "css/index.css" %}" rel="stylesheet"/>
	{% block title  %}
	{% endblock %}
    </head>
    <body>
	{% block content %}
	{% block menu %}
	<ul class="main-nav">
	    <li><a href="{% url 'main' %}">Home</a></li>
	    <li><a href="{% url 'products' %}">Products</a></li>
	    <li><a href="{% url 'contacts' %}">Contacts</a></li>
	</ul>
	{% endblock %}
	{% include 'mainapp/includes/inc-menu.html' %}
	{% endblock %}
    </body>
    <footer>
	{% block row_footer %}
	{% block footer_nav %}{% endblock %}
	{% endblock %}
    </footer>
</html>
